body {
  margin: 0;
  padding: 0;
  border: none;
  background-size: contain;
  text-align: center;
}

h2, h3, h4 {
  color: white;
}

.navbar-text {
  width: 100%;
  text-align: center !important;
}

ul {
  list-style: none;
}

.jumbotron {
  background:url("../img/imag.jpeg")no-repeat;
  background-size:1500px;
  background-position: absolute;
  height:300px;
}